header {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(#e4bb08, 0.4);
  width: 100%;
  align-items: center;
  position:fixed;
  top: 0;

  #nav-bar {
    padding-left: 30px;
    .nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-family: Oswald;
      font-size: 3vh;
    }
  }

  #header-img {
    width: 10vh;
    height: 100%;
  }
}
