@use "header";
@use "product";
@use "about";

*{
  margin: 0;
  padding: 0;
}

body{
  background: url("https://www.itl.cat/pngfile/big/0-6130_cute-wallpapers-picture-cute-wallpaper-desktop.jpg");
  font-family: "Supermercado One";
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}