header {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 0;
}
header #nav-bar .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: Oswald;
  font-size: 3vh;
  padding-left: 30px;
}
header #nav-bar .nav-list a:hover {
  background-color: rgba(204, 208, 219, 0.4);
}
header #header-img {
  width: 10vh;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    width: 50vh;
  }

  .nav-link:nth-child(1) {
    padding-left: 5vh;
  }

  .nav-link:nth-child(2) {
    padding-left: 15vh;
  }

  .nav-link:nth-child(3) {
    padding-left: 15vh;
  }
}
.prodid {
  font-family: Oswald;
}

.prodinfo {
  list-style: none;
}

#shirts {
  display: flex;
  padding-top: 60px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#shirts #shirt1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#shirts #shirt2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#shirts #shirt3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

#sweaters {
  display: flex;
  padding-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#sweaters #sweater1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#sweaters #sweater2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#sweaters #sweater3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

#hoodies {
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#hoodies #hoodie1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#hoodies #hoodie2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#hoodies #hoodie3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

@media only screen and (min-width: 768px) {
  #shirts {
    display: flex;
    padding-top: 70px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 228, 151, 0.7);
    text-align: center;
  }
  #shirts #shirt1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #shirts #shirt2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #shirts #shirt3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }

  #sweaters {
    display: flex;
    padding-top: 40px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(221, 129, 8, 0.7);
    text-align: center;
  }
  #sweaters #sweater1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #sweaters #sweater2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #sweaters #sweater3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }

  #hoodies {
    display: flex;
    padding-top: 40px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(228, 187, 8, 0.4);
    text-align: center;
  }
  #hoodies #hoodie1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #hoodies #hoodie2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #hoodies #hoodie3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
}
#video {
  grid-area: video;
  width: 60vh;
  height: 45vh;
}

#infobox1 {
  grid-area: info1;
  border: 2px solid #f5e497;
  text-align: center;
  font-size: 5vh;
  border-radius: 5%;
  background-color: rgba(245, 228, 151, 0.4);
}

#infobox2 {
  grid-area: info2;
  border: 2px solid #dd8108;
  text-align: center;
  font-size: 5vh;
  border-radius: 5%;
  background-color: rgba(221, 129, 8, 0.2);
}

#infobox3 {
  grid-area: info3;
  border: 2px solid #e4bb08;
  text-align: center;
  font-size: 5vh;
  border-radius: 5%;
  background-color: rgba(228, 187, 8, 0.2);
}

@media only screen and (min-width: 768px) {
  #about {
    display: grid;
    grid-template-columns: repeat(3, 69vh);
    grid-template-rows: repeat(2, 50vh);
    grid-template-areas: ". video ." "info1 info2 info3";
  }

  #video {
    width: 69vh;
    height: 50vh;
  }
}
footer {
  padding-top: 20px;
  align-items: center;
  text-align: center;
  height: 30vh;
  color: #585858;
}
footer figure {
  border: 3px solid rgba(81, 240, 7, 0.6);
  background: url("https://pbs.twimg.com/profile_images/1450510962360991751/KwyMn311_400x400.jpg");
  border-radius: 10%;
  height: 100%;
  background-position: center;
  padding-top: 20vh;
}
footer figcaption {
  border: 3px none black;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 70vh;
    font-size: 4vh;
    padding-left: 68vh;
    height: 60vh;
  }
  footer figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(228, 187, 8, 0.4);
    height: 55vh;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://www.itl.cat/pngfile/big/0-6130_cute-wallpapers-picture-cute-wallpaper-desktop.jpg");
  font-family: "Supermercado One";
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=input.css.map */
