.prodid {
  font-family: Oswald;
}

.prodinfo {
  list-style: none;
}

#shirts {
  display: flex;
  padding-top: 60px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#shirts #shirt1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#shirts #shirt2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#shirts #shirt3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

#sweaters {
  display: flex;
  padding-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#sweaters #sweater1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#sweaters #sweater2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#sweaters #sweater3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

#hoodies {
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#hoodies #hoodie1 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#hoodies #hoodie2 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}
#hoodies #hoodie3 img {
  width: 18vh;
  height: 100%;
  border: 3px solid;
  border-color: black;
  border-radius: 25%;
}

@media only screen and (min-width: 768px) {
  #shirts {
    display: flex;
    padding-top: 70px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 228, 151, 0.7);
    text-align: center;
  }
  #shirts #shirt1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #shirts #shirt2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #shirts #shirt3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }

  #sweaters {
    display: flex;
    padding-top: 40px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(221, 129, 8, 0.7);
    text-align: center;
  }
  #sweaters #sweater1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #sweaters #sweater2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #sweaters #sweater3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }

  #hoodies {
    display: flex;
    padding-top: 40px;
    padding-bottom: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(228, 187, 8, 0.4);
    text-align: center;
  }
  #hoodies #hoodie1 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #hoodies #hoodie2 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
  #hoodies #hoodie3 img {
    width: 50vh;
    height: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 25%;
  }
}

/*# sourceMappingURL=product.css.map */
